:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #fff;
  --secondary-bcg-color: #f5f4fa;
  --bcg-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --card-set-margin: 30px;
  --border-color: #ececec;
  --primary-icon-color: #afb1b8;
  --transition-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --portfolio-button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

html {
  box-sizing: border-box;
}

*,
* ::before,
* ::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

body {
  background: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.title {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.container {
  width: 100%;
  margin: 0 auto;
}

.work-container {
  display: flex;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-margin));
  margin-left: calc(-1 * var(--card-set-margin));
}

.card-set > .card-set__card-item {
  flex-basis: calc(100% / 3 - var(--card-set-margin));
  margin-top: var(--card-set-margin);
  margin-left: var(--card-set-margin);
}

.backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity var(--transition-hover), visibility var(--transition-hover);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(2);
  opacity: 0;
}

.modal {
  position: relative;
  width: 528px;
  height: 581px;
  padding: 40px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1);
  transition: transform var(--transition-hover), opacity var(--transition-hover);
}

/* modal-form */
.button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.icon-close {
  transition: fill var(--transition-hover);
}

.button-close:focus .icon-close {
  fill: var(--accent-color);
}

.icon-close:hover, .icon-close:focus {
  fill: var(--accent-color);
}

.form-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 12px;
}

.inputs {
  margin-bottom: 10px;
}

.form-link {
  color: var(--accent-color);
}

.input-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  display: block;
  margin-bottom: 4px;
}

.online-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 11px 42px;
  outline: none;
  transition: border-color var(--transition-hover);
}

.online-input:focus, .online-input:hover {
  border-color: var(--accent-color);
}

.input-icon {
  transition: fill var(--transition-hover);
}

.online-input:focus + .input-icon,
.online-input:hover + .input-icon {
  fill: var(--accent-color);
}

.modal-text-input {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  transition: border-color var(--transition-hover);
}

.modal-text-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/* .modal-text-input:focus,
.modal-text-input:hover {
  border-color: var(--accent-color);
} */
.comment-input {
  margin-bottom: 17px;
}

.input-wrapper {
  display: block;
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.checkbox-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox-text span {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--title-text-color);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color var(--transition-hover), border var(--transition-hover);
}

.checkbox-text span:focus, .checkbox-text span:hover {
  border: 2px solid var(--accent-color);
}

.modal-checkbox:checked + .checkbox-text span {
  background-color: var(--accent-color);
  border: none;
}

.modal-checkbox:focus + .checkbox-text span,
.modal-checkbox:hover + .checkbox-text span {
  border: 2px solid var(--accent-color);
}

.modal-button {
  display: block;
  margin: 0 auto;
  padding: 10px 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-hover);
}

.modal-button:hover, .modal-button:focus {
  background-color: #188ce8;
}

.input-field {
  padding: 15px;
  width: 358px;
  margin-right: 12px;
  background: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--footer-text-color);
  transition: border var(--transition-hover), color var(--transition-hover);
}

.input-field:focus, .input-field:hover {
  border: 1px solid var(--accent-color);
}

.input-field::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-text-color);
  transition: color var(--transition-hover);
}

.button-subscription {
  padding: 10px 29px;
  display: flex;
  align-items: center;
}

.icon-form {
  margin-left: 10px;
}

.mail-form {
  display: flex;
}

.input-field {
  padding: 15px;
  width: 358px;
  margin-right: 12px;
  background: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--footer-text-color);
  transition: border var(--transition-hover), color var(--transition-hover);
}

.input-field:focus, .input-field:hover {
  border: 1px solid var(--accent-color);
}

.input-field::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-text-color);
  transition: color var(--transition-hover);
}

.button-subscription {
  padding: 10px 29px;
  display: flex;
  align-items: center;
}

.icon-form {
  margin-left: 10px;
}

.mail-form {
  display: flex;
}

.social-icon {
  fill: currentColor;
  transition: color var(--transition-hover);
}

.icon {
  transition: fill var(--transition-hover);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title,
.client-title {
  margin-bottom: 50px;
}

.address-link {
  color: var(--white-color);
  transition: color var(--transition-hover);
}

.address-link:focus, .address-link:hover {
  color: var(--accent-color);
}

.contacts-link {
  color: var(--footer-text-color);
  transition: color var(--transition-hover);
}

.contacts-link:focus, .contacts-link:hover {
  color: var(--accent-color);
}

.main-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  background: var(--accent-color);
  color: var(--white-color);
  border-radius: 4px;
  border: none;
  transition: background-color var(--transition-hover);
}

.main-button:focus, .main-button:hover {
  background-color: #188ce8;
}

.main-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  background: var(--accent-color);
  color: var(--white-color);
  border-radius: 4px;
  border: none;
  transition: background-color var(--transition-hover);
}

.main-button:focus, .main-button:hover {
  background-color: #188ce8;
}

.social-item + .social-item {
  margin-left: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-icon-color);
  transition: background-color var(--transition-hover);
}

.social-link:focus, .social-link:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo--of-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo--of-footer {
  margin-bottom: 20px;
  display: block;
}

.logo__s {
  color: var(--title-text-color);
}

.logo__fs {
  color: var(--white-color);
}

.logo--of-footer {
  margin-bottom: 20px;
  display: block;
}

.header {
  border-bottom: 1px solid var(--border-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.site-link {
  transition: color var(--transition-hover);
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color var(--transition-hover);
}

.site-nav .link:focus, .site-nav .link:hover {
  color: var(--accent-color);
}

.nav-section {
  display: flex;
  align-items: center;
}

.nav-section .logo {
  margin-right: 70px;
}

.link-nav:not(:last-child) {
  margin-right: 50px;
}

/* Site-nav */
.current {
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  display: block;
  bottom: -1px;
}

.contacts-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-icon {
  display: flex;
  fill: currentColor;
  margin-right: 10px;
}

.link-post {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  justify-content: center;
  transition: color var(--transition-hover);
}

.link-post:focus, .link-post:hover {
  color: var(--accent-color);
}

.link-post:focus.header-icon,
.link-post:hover .header-icon {
  fill: var(--accent-color);
}

.header-item-post {
  margin-right: 30px;
}

.link-phone {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  justify-content: center;
  transition: color var(--transition-hover);
}

.link-phone:focus, .link-phone:hover {
  color: var(--accent-color);
}

.link-phone:focus .header-icon, .link-phone:hover.header-icon {
  fill: var(--accent-color);
}

.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile-hero-img.jpg);
  background-repeat: no-repeat;
  padding: 118px 60px;
  text-align: center;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-hero-img.jpg);
    padding: 118px 204px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
    padding: 200px 0;
  }
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero-button {
  padding: 10px 32px;
}

.text-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 4 - 30px);
}

.adventage-item {
  margin-bottom: 30px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--secondary-bcg-color);
}

.title-text-section {
  margin-bottom: 10px;
}

.job-container {
  position: relative;
}

.job-list {
  position: absolute;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
}

.job-list-title {
  color: var(--white-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.work-container {
  display: flex;
}

.img-section {
  padding-top: 0;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.job-list-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.team {
  background: var(--secondary-bcg-color);
}

.team__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team__info {
  padding: 30px 32px 30px 32px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 700;
  color: var(--title-text-color);
}

.team__set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-margin));
}

.team__position {
  margin-bottom: 16px;
}

.team__social {
  display: flex;
  justify-content: center;
}

.team__social-item + .team__social-item {
  margin-left: 10px;
}

.team__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-icon-color);
  transition: background-color var(--transition-hover);
  /* transition: background-color var(--transition-hover),
    color var(--transition-hover); */
}

.team__social-link:hover, .team__social-link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.team__social-icon {
  fill: currentColor;
  transition: color var(--transition-hover);
}

.client-title {
  display: block;
  margin-bottom: 50px;
}

.client-item {
  flex-basis: calc(100% / 6 - var(--card-set-margin));
  margin-left: var(--card-set-margin);
  margin-top: var(--card-set-margin);
}

.client-link {
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border var(--transition-hover), color var(--accent-color);
  color: var(--primary-icon-color);
}

.client-link:hover, .client-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--accent-color);
}

.client-icon {
  fill: currentColor;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-social-list {
  display: flex;
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
}

.footer-social-icon {
  fill: var(--white-color);
}

.social-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-item:not(:last-child) {
  margin-right: 70px;
}

.footer-item:last-child {
  margin-left: auto;
}

.social-item + .social-item {
  margin-left: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-icon-color);
  transition: background-color var(--transition-hover);
}

.social-link:focus, .social-link:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.button-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--title-text-color);
  background: var(--secondary-bcg-color);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition: color var(--transition-hover), background-color var(--transition-hover), border-color var(--transition-hover), box-shadow var(--transition-hover);
}

.button:hover, .button:focus, .button:active {
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: var(--portfolio-button-shadow);
}

.current-btn {
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: var(--portfolio-button-shadow);
}

.projects__name {
  font-weight: 700;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.projects__link {
  display: block;
}

.projects__link:focus, .projects__link:hover {
  outline: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__link:focus .projects__top-text,
.projects__link:hover .projects__top-text {
  transform: translateY(0%);
}

.projects__top-wrapper {
  position: relative;
  overflow: hidden;
}

.projects__top-text {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  top: 0;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
/*# sourceMappingURL=main.css.map */