.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    .container {
      // width: 100px;
      // padding-left: 15px;
      // padding-right: 15px;
      margin: 0 auto;
    }
  }
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

// .footer-container {
//   align-items: baseline;

//   @media screen and (min-width: 1200px) {
//     display: flex;
//   }
// }
.footer-item-list {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.footer-social-list {
  display: flex;
  justify-content: center;
  @media screen and (min-width: 1200px) {
  }
}
.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
}
.footer-social-icon {
  fill: var(--white-color);
}
.social-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-bottom: 20px;
}
.footer-item {
  text-align: center;
  @media screen and(max-width:1199px) {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  @media screen and(min-width:768px) {
  }
  @media screen and(min-width:1200px) {
    &:not(:last-child) {
      margin-right: 70px;
    }
    &:last-child {
      margin-left: auto;
    }
    text-align: left;
  }
}

// .mail-form-item {
//   margin-left: auto;
// }

.social-item {
  & + & {
    margin-left: 10px;
  }
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-icon-color);
  transition: background-color var(--transition-hover);
  &:focus,
  &:hover {
    background-color: var(--accent-color);
    color: var(--white-color);
  }
}

.mail-form {
  justify-content: center;

  @media screen and(max-width:479px) {
    padding: 0 15px;
  }
  @media screen and(min-width:1200px) {
    display: flex;
  }
}
.button-subscription {
  padding: 10px 29px;
  display: flex;
  align-items: center;
  margin: auto;
  @media screen and(min-width:1200px) {
    margin: 0;
  }
}
.icon-form {
  margin-left: 10px;
}

// .form-content {
//   padding-bottom: 30px;
// }

.input-field {
  padding: 15px;
  width: 100%;
  margin-bottom: 20px;
  background: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--footer-text-color);
  transition: border var(--transition-hover), color var(--transition-hover);
  &:focus,
  &:hover {
    border: 1px solid var(--accent-color);
  }
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: var(--footer-text-color);
    transition: color var(--transition-hover);
  }
  @media screen and(min-width:768px) {
    width: 450px;
  }
  @media screen and(min-width:1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}
.mail-form-item {
  @media screen and(min-width:1200px) {
    padding-left: 37px;
  }
}
.footer-top-item {
  @media screen and(max-width:767px) {
    padding-bottom: 60px;
  }
  @media screen and(min-width:768px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
  @media screen and(min-width:1200px) {
    margin-right: 70px;
  }
}
