.backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity var(--transition-hover),
    visibility var(--transition-hover);
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  &.is-hidden .modal {
    transform: scale(2);
    opacity: 0;
  }
}

.modal {
  position: relative;
  width: 528px;
  height: 581px;
  padding: 40px;

  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1);
  transition: transform var(--transition-hover), opacity var(--transition-hover);
}
/* modal-form */
.button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.icon-close {
  .button-close:focus & {
    fill: var(--accent-color);
  }
  transition: fill var(--transition-hover);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.form-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 12px;
}
.inputs {
  margin-bottom: 10px;
}
.form-link {
  color: var(--accent-color);
}
.input-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  display: block;
  margin-bottom: 4px;
}
.online-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 11px 42px;
  outline: none;
  transition: border-color var(--transition-hover);
  &:focus,
  &:hover {
    border-color: var(--accent-color);
  }
}
.input-icon {
  transition: fill var(--transition-hover);
  .online-input:focus + &,
  .online-input:hover + & {
    fill: var(--accent-color);
  }
}

.modal-text-input {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  transition: border-color var(--transition-hover);
  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}
/* .modal-text-input:focus,
.modal-text-input:hover {
  border-color: var(--accent-color);
} */
.comment-input {
  margin-bottom: 17px;
}

.input-wrapper {
  display: block;
  position: relative;
}
.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.checkbox-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  span {
    width: 16px;
    height: 15px;
    margin-right: 8px;
    border: 2px solid var(--title-text-color);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color var(--transition-hover),
      border var(--transition-hover);
    &:focus,
    &:hover {
      border: 2px solid var(--accent-color);
    }
  }
}
.modal-checkbox {
  &:checked + .checkbox-text span {
    background-color: var(--accent-color);
    border: none;
  }
  &:focus + .checkbox-text span,
  &:hover + .checkbox-text span {
    border: 2px solid var(--accent-color);
  }
}

.modal-button {
  display: block;
  margin: 0 auto;
  padding: 10px 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-hover);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
.input-field {
  padding: 15px;
  width: 358px;
  margin-right: 12px;
  background: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--footer-text-color);
  transition: border var(--transition-hover), color var(--transition-hover);
  &:focus,
  &:hover {
    border: 1px solid var(--accent-color);
  }
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: var(--footer-text-color);
    transition: color var(--transition-hover);
  }
}

.button-subscription {
  padding: 10px 29px;
  display: flex;
  align-items: center;
}
.icon-form {
  margin-left: 10px;
}
.mail-form {
  display: flex;
}
